{% extends 'base.html' %}

{%  block page_title %} Dashboard {%  endblock %}

{%  block page_content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p>{{ msg }}</p>
            {% endfor %}
        {% endif %}
    {%  endwith %}

    <form action="" method="post" id="form" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}
            {{ form.username(size=40, placeholder = 'Enter Your GITHUB Username')}}
        </p>
        <p class="error_p">
            <ul>
                {% for error in form.username.errors %}
                    <li style="color:red;" class="error">{{error}}</li>
                {% endfor %}
            </ul>
        </p>

        <p>
            {{ form.submit()}}
        </p>

    </form>

    <li><a href="{{url_for('logout')}}">Log Out</a></li>
{% endblock %}
